/*  font-family: Abel  */
@font-face {
  font-family: Abel;
  src: url('../fonts/Abel/Abel-Regular.ttf');
}

/*  font-family: Anton  */
@font-face {
  font-family: Anton;
  src: url('../fonts/Anton/Anton-Regular.ttf');
}

/*  font-family: Josefin  */
@font-face {  
  font-family: Josefin;
  src: url('../fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}

/*  font-family: Lexend  */
@font-face {
  font-family: Lexend;
  src: url('../fonts/Lexend_Deca/LexendDeca-Regular.ttf');
}

/*  font-family: Livvic  */
@font-face {
  font-family: Livvic;
  src: url('../fonts/Livvic/Livvic-Regular.ttf');
}

/*  font-family: Oswald  */
@font-face {
  font-family: Oswald;
  src: url('../fonts/Oswald/Oswald-SemiBold.ttf');
}

/*  font-family: WorkSans  */
@font-face {
  font-family: WorkSans;
  src: url('../fonts/Work_Sans/WorkSans-SemiBold.ttf');
}

/*  font-family: CrimsonText  */
@font-face {
  font-family: CrimsonText;
  src: url('../fonts/Crimson_Text/CrimsonText-Regular.ttf');
}